*{
    margin: 0;
    padding: 0;
    font-family: 'inter' , sans-serif; 

}

body{
        background-color: #f4f4fc;

}

header{
        width: 100%;
        height: 70%;
}

.logo{
        width: 100px;
        height: 50px;
        padding-top: 20px;
        padding-left: 40px;
}

main{
        position: absolute;
        width: 100%;
        height: 90%;
        display:  flex;
        justify-content: space-between;

}

.contenedor-cajatexto{
        position: relative;
        left: 270px;
        top: 100px;
        padding-left: 10px;    
        width: 1080px;
        height: 600px;
}

.cajatexto{
        width: 80%;
        height: 100%;
        border: none;
        background-color: #f4f4fc;
        cursor: pointer;
        color: #0a3871;
        font-size: 32px;
        font-weight: 400;
        font-family: 'inter' , sans-serif;
        
}

.cajatexto::placeholder{
        color: #0a3871;
}

.alerta{
        position:  absolute;
        top: 750px;
        left: 270px;
        display: flex;
        color: #495057; 
}

.contenedor-botones{
        position: absolute;
        top: 800px;
        height: 80px;
        padding-left: 15%;
        padding-top: 15px;
}

.boton-encriptar{
    width: 380px;
    height: 67px;
    border-radius: 24px;
    background-color: #0a3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter' , sans-serif;
    border: none;
    margin-right: 20px;
    cursor: pointer;
}   

.boton-desencriptar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFE8;
    color: #0a3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'inter' , sans-serif;
    border: 1px solid #0a3871;
    cursor: pointer;
}   

.seccion2 {
    display: block;
    position: absolute;
    width: 400px;
    height: 860px;
    right: 20px;
    top: 10px;
    padding-right: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.50);
    margin-bottom: 10px;
}

.contenedor-munieco{
        position: absolute;
        left: 30px;
        top: 180px;
        box-sizing: border-box;
        padding-top: 50px;
}

.contenedor-parrafo{
        position: absolute;
        box-sizing: border-box;
        top: 570px;
        left: 40px;
}

.contenedor-parrafo h3{
        font-size: 24px;
        font-weight: 700;
        font-family: 'inter' , sans-serif;
        text-align: center;
        color: #343a40;

}

.contenedor-parrafo p{
        font-family: 'inter' , sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #495057;
        padding-top: 20px;
}

.contenedor-resultados{
        position: absolute;
        bottom: 410px;
        width: 320px;
        height: 450px;
        padding: 0;
        box-sizing: border-box;
        margin-left:  25px;
}

.contenedor-resultados p{
        color: #495057;
        font-size: 25px;
}

.contenedor-copiar{
    display: flex;
    position: absolute;
    bottom: 400px;
    top: 700px;
    background-color: aqua;
    padding-left: 40px;
}

.boton-copiar{
    width: 328px;
    height: 67px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: relative;
    top: 50px;
    right: 4px;
}

.ocultar{
        display: none;
}